.input-container {
  min-height: 60px;
  display: table-row-group;
  width: 100%;
}

h1 {
  display: table-row-group;
  margin: 10px;
  padding: 5px 5px;
}
span {
  text-decoration: underline;
}

.input {
  display: table-row-group;
  width: 500px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}

.input:focus {
  outline: none;
  background-color: lightyellow;
}
