.post {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.04);
}

.post img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.post-content {
  padding: 30px;
}
